*.work*
.scripts/
fonts/
modules/extend
scripts/link/*.ini
*.code-workspace
TODO.md

color/
event/
group/
loop/
relativity/
sequence/
wrapper/
Example.Color/
Example.Group/
Example.Relativity/
Example.Sequence/

attract.am
attract.cfg
last_run.log
script.nv
window.am